@font-face {
  font-family: Pokemon;
  src: url("assets/pokemon-rs.ttf") format("truetype");
}

* {
  box-sizing: border-box;
  overflow: hidden;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100svh;
}

body {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: end;
  height: 100svh;
  overflow: hidden;
  font-family: "Pokemon";
}

#background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

#background > img {
  width: 100vw;
  height: 100svh;
  object-fit: cover;
  filter: blur(50px);
  transform: scale(1.125) translate3d(0, 0, 0);
  opacity: 0.5;
}

#metadataContainer {
  padding: 5vh;
  display: flex;
  flex-direction: column;
  gap: 5vh;
}

#metadata {
  display: flex;
  flex-direction: column;
  gap: 1vh;
  color: white;
  text-indent: 1px;
  line-height: normal;
}

#cover {
  overflow: visible;
}

#cover > img {
  height: 25vh;
  width: 25vh;
  max-height: 50vh;
  max-width: 50vh;
  object-fit: contain;
  object-position: left bottom;
  filter: drop-shadow(0 0 2vh rgba(0, 0, 0, 1));
}

#gameInfo {
  font-size: max(5vh, 32px);
}

#trackInfo {
  font-size: max(3vh, 20px);
}

#kirby {
  width: 10vh;
  position: absolute;
  top: 0;
  right: 0;
  margin: 5vh;
}

#controls {
  display: flex;
  align-items: center;
  gap: 5vh;
  background-color: transparent;
  width: calc(100vw - 10vh);
}

.controlButton {
  height: 7.5vh;
  cursor: pointer;
  display: inline;
}

#volumeContainer {
  display: flex;
  align-items: center;
  gap: 1.25vh;
}

#muted {
  height: 5vh;
}

#volume {
  -webkit-appearance: none !important;
  -moz-appearance: none;
  appearance: none;
  background-color: rgb(0, 0, 0, 0.5);
  height: 2.5vh;
  width: 20vh;
  outline: none;
  cursor: pointer;
  border-radius: 0.5vh;
}

#volume::-moz-range-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  height: 2.5vh;
  width: 0;
}

#volume::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  height: 2.5vh;
  width: 2.5vh;
  background-color: white;
  border-radius: 0.5vh;
}

#volume::-moz-range-progress {
  background-color: white;
  border-radius: 5px;
  height: 100%;
}
