html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  color: white;
}

audio {
  width: 100%;
}
@supports (-webkit-touch-callout: none) {
  audio {
    margin-bottom: 75px;
  }
}

#metadata {
  color: white;
  font-size: 2rem;
  border: none;
  font-family: monospace;
  margin: 10px;
}
@supports (-webkit-touch-callout: none) {
  #metadata {
    font-size: 4rem;
  }
}

.emoji {
  display: inline-block;
  width: 50px;
  text-align: right;
}
